#navbar-right-spacer {
    flex: 1 1 auto;
  }

  .mat-list-item.mat-list-item {
    display: inline-block;
    height: auto;
    width: auto;
  }

#company-name{
  color: black;
  padding-left: 0.7rem;
  font-size: larger;
} 
#visortek-svg-logo{
  height: 50px;
}