#navbar-right-spacer {
    flex: 1 1 auto;
  }

#list-center{
    display: inline-flex;
    height: auto;
    width: auto;
    font-size: 2rem;
    color: yellow;
}
#company-name{
  color: black;
  padding-left: 0.7rem;
  font-size: larger;
} 
#visortek-svg-logo{
  height: 50px;
}