#featured-products {
    color: black;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #2979FF;
}

#featured-products:hover {
    background-color: white;
    transform: scale(1.1);
    transition: all 0.1s;
    visibility: visible;
    margin-top: 10px;
    border: none;
}