<div class="row">
    <div class="col-md-12">
       <p class="text-right">
            <fa-icon [icon]="faWindowClose" size="lg" (click)='onCloseModel()'></fa-icon>
        </p>
    </div>
    <div class="col-md-12">
        <swiper [config]="config">
            <div *ngFor="let image of data.images" class="swiper-slide">
                <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
                    <picture>
                        <img [src]="image" id="image-swiper">
                    </picture>
                </div>
            </div>
        </swiper>
    </div>
</div>