mat-toolbar {
    height: auto;
    margin-top: 1.4rem;
}

.container {
    padding-bottom: 5rem;
}
.footer-last-list{
    font-size: 0.9rem;
  }
.list-horizontal .mat-list-item {
    display: inline-block;
    height: auto;
    width: auto;
    font-size: 0.9rem;
    color: black;
}
.mat-toolbar.mat-primary{
    color: black;
}
.instragram-icon{
    background-color: aquamarine;
}
.finstragram-icon{
    background-color: aquamarine;
}

